.navigate {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(179, 170, 170);
}

.logo {
  margin: 0.5em;
  cursor: pointer;
  color: red;
}

.logo_title {
  font-weight: 700;
  color: black;
}

.search {
  margin: 0.5em;
}

.searchBar {
  width: 20em;
  height: 2em;
  padding: 0;
  border: 1 solid black;
  border-radius: 10px;
}

.searchBtn {
  height: 2em;
}

.search svg {
  margin: 0 0.5em;
  cursor: pointer;
}

.acountAndEtc {
  margin: 0.5em;
}

.acountAndEtc svg {
  margin: 0 0.5em;
  cursor: pointer;
}

.acountAndEtc svg :hover {
  transform: scale(1.2);
  color: red;
}
