.metadata {
  width: 100%;
}

.video {
}

.title {
  font-size: 15px;
  font-weight: 500;
  margin: 0.5em 0;
}

.channelTitle {
  font-size: 13px;
  font-weight: 500;
  margin: 0.5em 0;
}

.description {
  font-size: 13px;
  font-weight: 500;
  margin: 0.5em 0;
}
